.fa-quote-right {
  color: #ffcb43;
}

hr {
  height: 3px;
  background: #ffcb43;;
}

.req {
  max-height: 300px;
  margin-left: 5rem;
}

.bg {
  background-color: #F4F4F4;
  padding-top: 5rem;
}

 img {
  max-height: 350px;
}

.images img {
  max-height: 195px;
}

.contact {
  background-color: #363636;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.contact-form input, .contact-form textarea {
  background-color: #272a2f;
  border: 1px solid #FFFFFF;
}

.contact-form button {
  background-color: #c9a736;
  text-align: center;
  color: #FFFFFF;
  padding: 10px;
  width: 40%
}

.contact-content {
  background-color: #272a2f;
  color: #FFFFFF;
  padding: 3rem;
}

.fa-phone-volume, .fa-envelope{
  color: #c9a736;
  padding-left: 1rem;
}

@media (max-width: 768px) {
  .side {
    text-align: center;
    padding: 2rem;
  }

  .side hr {
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .golden {
    padding: 1rem 0;
  }

  .res {
    text-align: center;
    align-items: center;
  }

  .ress {
    margin-bottom: 3rem;
  }
}
